<%= render partial: "partials/tab_text", locals: {text: "Posts"} %>

<%= render partial: "partials/menue_bar" %>

<div class='container'>
	<h2 class="section-title">Post index</h2>

	<ul id='post-list'>
		<% @posts.each do |post| %>
			<li class='post-title'><%= post.title %></li>
		<% end %>
	</ul>
</div>
