<%= render partial: "sharedPartials/tab_text", locals: {text: "Posts"} %>

<%= render partial: "sharedPartials/menue_bar" %>

<div class='container'>
	<h2 class="section-title">Post index</h2>

	<ul id='post-list'>
		<% @posts.each do |post| %>
			<li class='post-title'><%= link_to "#{post.title}", post %></li>
		<% end %>
	</ul>
</div>
