<!-- <div class='side-bar'>
	<ul>
		<% i = 0 %>
		<% while i < 5 do %>
			<li><%#= "this is bullet #{i}"%></li>
			<% i = i + 1 %>
		<% end %>
	</ul>
</div> -->

<ul class='side-bar'>
	<% i = 0 %>
	<% while i < 5 do %>
		<li><%= "this is bullet #{i}"%></li>
		<% i = i + 1 %>
	<% end %>
</ul>