$theme-color: #004c4d;
$accent-color: #a300cc;
$contrast-color: #ffb3d9;



.container{
	border-style: dotted;
	border-width: 1px;
	width: 60%;
	margin: auto;
	padding: 10px;
}

#menu-bar{

}

.side-bar{

}

#menu-list{
	margin: right;
	padding-right: 30px;
}	

.menu-list-item{
	display: inline-block;
	a {
		text-decoration: none;
	}
}

.menu-btn{
	display: block;
  width: 100px;
  height: 20px;
  background: $accent-color;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  color: $contrast-color;
  font-weight: bold;
}


