$theme-color: #004c4d;
$accent-color: #a300cc;
$contrast-color: #ffb3d9;

#layout{
	position: relative;
}

#content-container{
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;


}

#menu-bar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5em;
	width: 100%;
	background-color: green;
}

.side-bar{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 5em;
	background-color: blue;
	padding: 0;
}

#menu-list{

}	

.menu-list-item{
	display: inline-block;
	a {
		text-decoration: none;
	}
}

.menu-btn{
	display: block;
  width: 100px;
  height: 20px;
  background: $accent-color;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  color: $contrast-color;
  font-weight: bold;
}


