$theme-color: #004c4d;
$accent-color: #a300cc;
$contrast-color: #ffb3d9;
$fairy-tale-color: #005580;
$off-white-page: #ffffb3;
$dark-leather-book: #1a0d00;

@font-face {
    font-family: 'kramerregular';
    src: url("./fonts/kramer-webfont.eot");
    src: url("./fonts/kramer-webfont.eot?#iefix") format('embedded-opentype'),
         url("./fonts/kramer-webfont.woff2") format('woff2'),
         url("./fonts/kramer-webfont.woff") format('woff'),
         url("./fonts/kramer-webfont.ttf") format('truetype'),
         url("./fonts/kramer-webfont.svg#kramerregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
}

.container{
	border-style: dotted;
	border-width: 1px;
	width: 60%;
	margin: auto;
	padding: 10px;
}

#menu-bar{
}

#splash-page-layout {
  background: $fairy-tale-color;
}
 
#splash-container{
  background: $dark-leather-book;
  width: 70%;
  padding: 15px;
  margin: auto;
  p {
     font-family: kramerregular;
     color: black;
     background: $off-white-page;
  }
  a {
    text-decoration: none;
    }
  a:link { color: black; }
  a:visited { color: black; }
  a:hover { color: black; }
  a:focus { color: black; }
  a:active { color: black; }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
  }
  .lead-character{
    font-size: 200%;
  }
}

.side-bar{
}

#menu-list{
	margin: right;
	padding-right: 30px;
}	

.menu-list-item{
	display: inline-block;
	a {
		text-decoration: none;
	}
}

.menu-btn{
	display: block;
  width: 100px;
  height: 20px;
  background: $accent-color;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  color: $contrast-color;
  font-weight: bold;
}