<div id='splash-book-container'>
  <div class="book-item" id='splash-book-picture'>
    <%= link_to image_tag('pc_trees_forest.jpg'), courtyard_path %>
  </div>
  <div class="book-item" id='splash-book-text'>
    <p><span class='lead-character'><%= link_to "I", login_path %></span> always had an active imagination when I was a child, but the stories and worlds I lost myself in never lasted past my departure to sleep.  As I grew older I learned of a construct called a memmory castle, by which people could organize the world as it fell before their mind's eye, but by then I was already so much a tramp as to feel constrained by such a fixed structure.  However as I learn the ways of technological artistry a new path opened before me, a construct wrought not from myself but from the imaginary material of cyber-space.  Herein might I find the utility and diversion equal to that of any memory castle, and manyfold the pleasure since such comes from sharing the experience of the creation, and all without offending my good-trampish-sensibilities by commiting to some doctrine or rigid point of view.</p>
    <p><span class='lead-character'>I</span>f you are curious to see as i see please proceed along the path, through a portal as it were, to a castle of some delight and curiosity.</p>
  </div>
</div>